@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
	background-color: white;
}

h1 {
	padding-left: 20px;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	width: 260px;
    float: left;
	padding-top: 40px;
}

footer {
    clear: both;
    padding: 5px 0;
    position: relative;
    width: 100%;
}

header {

}

img {
	max-width: 75%;
}

main {
    width: 560px;
    float: left;
	padding-top: 40px;
	padding-right: 20px;
}

nav {
	width: 120px;
    float: left;
	padding-left: 20px;
	padding-top: 40px;
	padding-right: 20px;
}

#copyright {
	font-size: 80%;
}

#main-container {
}